@font-face {
    font-family: 'NanumSquare';
    src: url(../font/NanumSquare_acL.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquare_R';
    src: url(../font/NanumSquare_acR.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquare_Bold';
    src: url(../font/NanumSquare_acB.ttf) format('truetype');
}

@font-face {
    font-family: 'DXSeNStd';
    src: url(../font/DXSeNStd-B.otf) format('truetype');
}

.coming {
    height: 100%;
    background-color: rgba(180, 35, 35, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.o_header {
    font-family: NanumSquare;
    font-size: 1em;
    color: #fff;
    text-align: center;
    margin: 1px;
}

.o_title {
    font-family: DXSeNStd;
    font-size: 7.5em;
    color: #fff;
    margin: 1px;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    background: #fff;
    overflow: hidden;
    transform-style: preserve-3d;
}

input[type='radio'],
.hide {
    display: none;
}

input[type='radio']:checked + section {
    top: 0;
}

.container1 {
    width: 100%;
    height: 100vh;
    transition: all 500ms;
    transform-style: preserve-3d;
}

.container1 section {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 100vh;
    transition: top 500ms;
    transform-style: preserve-3d;
}

.container1 section.home {
    background: #2196f3;
}

.container1 section.about {
    background: #fd9d08;
}

.container1 section.blog {
    background: #ff3d3d;
}

.container1 section.contact {
    background: #5cb85c;
}

.container1 section h1 {
    margin: 0;
    font-size: 64px;
    transform: translate(0, 40vh);
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    transition: transform 500ms;
    transform-style: preserve-3d;
}

.container1 section label {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

.menu {
    display: block;
    position: fixed;
    top: 20px;
    left: 25px;
    z-index: 1000;
    transform: 0deg;
    transition: all 200ms;
    width: 35px;
    height: 4px;
    background: rgba(0, 0, 0, 0.25);
}

.menu::before,
.menu::after {
    content: '';
    display: block;
    position: absolute;
    width: 35px;
    height: 4px;
    background: rgba(0, 0, 0, 0.25);
    transition: all 200ms;
}

.menu::before {
    top: 10px;
}

.menu::after {
    top: 20px;
}

.menu:hover {
    background: #fff;
}

.menu:hover::before,
.menu:hover::after {
    background: #fff;
}

.menu div,
.menu div label:nth-child(1) {
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    top: -6px;
}

.menu div label:nth-child(2) {
    display: none;
}

#menu:checked + .container1 {
    transform: scale(0.65) translateY(-18%);
    transition: all 500ms;
    transform-style: preserve-3d;
}

#menu:checked + .container1 section {
    cursor: pointer;
    overflow: hidden;
    opacity: 1;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
    transform-style: preserve-3d;
}

#menu:checked + .container1 section h1 {
    transform: scale(0.5);
    transform-style: preserve-3d;
}

#menu:checked + .container1 + .menu {
    top: 30px;
    left: 20px;
    transform: rotate(225deg);
    transition: all 200ms;
    transform-origin: center center;
    background: #646464;
}

#menu:checked + .container1 + .menu::before,
#menu:checked + .container1 + .menu::after {
    background: #646464;
    transition: all 200ms;
}

#menu:checked + .container1 + .menu::before {
    opacity: 0;
    transition: opacity 0s;
}

#menu:checked + .container1 + .menu::after {
    margin-top: -20px;
    transform: rotate(90deg);
}

#menu:checked + .container1 + .menu div label:nth-child(2) {
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    top: -6px;
}

#menu:checked + .container1 + .menu div label:nth-child(1) {
    display: none;
}

.container1 section.home {
    z-index: 99;
}

.container1 section.about {
    z-index: 98;
}

.container1 section.blog {
    z-index: 97;
}

.container1 section.contact {
    z-index: 96;
}

#menu:checked + .container section.home {
    top: 192px;
}

#menu:checked + .container1 section.home:hover {
    top: 188px;
}

#menu:checked + .container1 section.about {
    top: 132px;
}

#menu:checked + .container1 section.about:hover {
    top: 128px;
}

#menu:checked + .container1 section.blog {
    top: 72px;
}

#menu:checked + .container1 section.blog:hover {
    top: 68px;
}

#menu:checked + .container1 section.contact {
    top: 12px;
}

#menu:checked + .container1 section.contact:hover {
    top: 8px;
}



.aaaa {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: NanumSquare;
}

.applepie {
    height: 100%;
    background-color: rgba(180, 35, 35, 0.8);
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .5rem rgba(0, 0, 0, .5);
}

.group_photo {
    height: 50vh;
    background-position: center;
    background-color: whitesmoke;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, .5);
    border-radius: 2.5px;
    padding: 30px 15px;
}

.text {
    color: #000;
}

.poster {
    max-height: 200px;
    overflow: auto;
}

.introduce {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(180, 35, 35, 0.8);
}

.soft-curriculem {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(180, 35, 35, 0.8);
}

.award {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(180, 35, 35, 0.8);
    overflow: auto;
}

.output {
    height: 100%;
    background-color: #777;
}

.aw {
    max-height: 85vh;
}

.content-curriculem {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(180, 35, 35, 0.8);
}

.curriculem-box {
    background-color: whitesmoke;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .5);
    border-radius: 2.5px;
    padding: 30px 15px;
}

.award-box {
    background-color: whitesmoke;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .5);
    border-radius: 2.5px;
    padding: 30px 15px;
}

.temp {
    height: 100%;
    background-color: rgba(180, 35, 35, 0.8);
}

@font-face {
    font-family: 'Harlow';
    src: url("../resource/HARLOWSI.TTF") format('truetype');
}

.applefont {
    font-family: Harlow;
}

.people_index {
    background-color: #e54352;
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
    border-radius: 15px;
    margin-right: 5px;
}


::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
}

.carousel-item {
    height: 100vh;
    background-color: #777;
    text-shadow: 0 0.05rem 0.5rem black;
}

.carousel-item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: white;
    text-align: center;
}

.dark {
    filter: brightness(90%);
}

.carousel-control-next {
    position: absolute;
    z-index: 1000;
}

#video {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    /* in case the video doesn't fit the whole page*/
    background-image:
        /* our video */
    ;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    /*cover video background */
    z-index: 3;
}

#section0 .layer {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    /*
  * Preventing flicker on some browsers
  * See http://stackoverflow.com/a/36671466/1081396  or issue #183
  */
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*solves problem with overflowing video in Mac with Chrome */
#section0 {
    overflow: hidden;
}

/* fadein */
.fadein {
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    /* Firefox */
    -webkit-animation: fadein 1.5s;
    /* Safari and Chrome */
    -o-animation: fadein 1.5s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Grow Rotate */
.grow_rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.grow_rotate:hover,
.grow_rotate:focus,
.grow_rotate:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
}
